.community-post-item .post-card {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
  font-family: 'Pretendard', sans-serif;
}

.community-post-item .post-link-horizontal {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  color: inherit;
}

.community-post-item .post-left {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
}

.community-post-item .post-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.community-post-item .post-profile-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.community-post-item .author-name {
  background-color: #f1f3f5;
  color: #4b5563;
  font-size: 0.75rem;
  padding: 4px 12px;
  border-radius: 20px;
  font-weight: 500;
  white-space: nowrap;
}

.community-post-item .post-title {
  font-size: 1.05rem;
  color: #1f2937;
  font-weight: bold;
  padding-top: 10px;
  margin-top: 10px;
}

.community-post-item .post-content {
  color: #4b5563;
  font-size: 0.95rem;
  margin-bottom: 8px;
  width: auto;
  margin-left: 14px;
}

.community-post-item .post-meta {
  color: #9ca3af;
  font-size: 0.85rem;
  margin-top: 10px;
  margin-left: 14px;
}

.community-post-item .post-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  min-width: 170px;
  min-width: 200px;
  max-width: 200px;
  flex-shrink: 0; /* 줄어들지 않게 고정 */
  margin-left: 16px; 
}

.community-post-item .thumbnail-wrapper {
  width: 170px;
  height: 140px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.community-post-item .post-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.community-post-item .thumbnail-placeholder {
  width: 100%;
  height: 140px;
  background-color: transparent;
}

.community-post-item .post-stats {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  font-size: 0.8rem;
  color: #9ca3af;
  margin-top: auto;
  margin-right: 35px;
}
